{% extends "produto/layouts/base.html" %}

{% block title %}Lista de Produtos{% endblock %}

{% block page %}Lista de Produtos <a href="" class="btn btn-success mt-1 float-end">Novo Produto</a>{% endblock %}

{% block content %}
<div class="table-resposive">
    <table class="table table-striped align-middle table-sm">
        <thead>
            <tr>
                <th scope="col">#:</th>
                <th scope="col">Img:</th>
                <th scope="col">Nome:</th>
                <th scope="col">Código 01:</th>
                <th scope="col">Código 02:</th>
                <th scope="col">Código 03:</th>
                <th scope="col">Dt Cadastro:</th>
                <th scope="col" class="text-center">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <th scope="row">{{ produto.pk }}</th>
                <th><a href="{{ produto.image.url }}"><img src="{{ produto.image.url }}" width="40px" alt=""></a>
                </th>
                <th scope="row">{{ produto.nome }}</th>
                <th scope="row" class="text-center">{{ produto.codigo_01 }}</th>
                <th scope="row" class="text-center">{{ produto.codigo_02 }}</th>
                <th scope="row" class="text-center">{{ produto.codigo_03 }}</th>
                <th scope="row">{{ produto.data_cadastro | date:'d/m/Y' }}</th>
                <th scope="row">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info btn-sm me-1 mt-1" data-bs-toggle="modal"
                        data-bs-target="#produto{{ produto.id }}"><i class="fas fa-info-circle"></i>
                    </button>
                    <a class="btn btn-warning btn-sm me-1 mt-1" href="{% url 'produto:editar' produto.id %}"><i class="fas fa-pen"></i></a>
                    <a class="btn btn-danger btn-sm mt-1" href=""><i class="fas fa-trash-alt"></i></a>
                </th>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="produto{{ produto.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="produtoLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" name="campo" id="campo">{{ produto.nome }}</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body align-middle pt-1">
                            <div class="row">
                                <div class="col col-auto">
                                    <div class="col">
                                        <h5>Data Cadastro:</h5>{{ produto.data_cadastro }}
                                    </div>
                                    <hr>
                                    <div class="col">
                                        <span class="">Código(s):</span> <br>
                                        <span class="badge rounded-pill bg-secondary">{{ produto.codigo_01 }}</span>
                                        {% if produto.codigo_02 != "-" %}
                                        <span class="badge rounded-pill bg-success">{{ produto.codigo_02 }}</span>
                                        {% endif %}
                                        {% if produto.codigo_03 != "-" %}
                                        <span class="badge rounded-pill bg-primary">{{ produto.codigo_03 }}</span>
                                        {% endif %}
                                        <hr>
                                    </div>
                                </div>
                                <div class="col">
                                    <img class="rounded float-end" src="{{ produto.image.url }}" width="200px" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}