{% extends "produto/layouts/base.html" %}

{% block title %}Lista de Produtos{% endblock %}

{% block page %}Lista de Produtos {% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id:</th>
            <th scope="col">Nome:</th>
            <th scope="col">Código_1:</th>
            <th scope="col">Código_2:</th>
            <th scope="col">Código_3:</th>
            <th scope="col">Data Cadastro:</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <th scope="row">{{ produto.pk }}</th>
            <th scope="row">{{ produto.nome }}</th>
            <th scope="row">{{ codigo }}</th>
            <th scope="row">{{ codigo }}</th>
            <th scope="row">{{ codigo }}</th>
            <th scope="row">{{ produto.data_cadastro | date:'d/m/y' }}</th>
            <th scope="row">
                <a class="btn btn-warning btn-sm" href="">!</a>
                <a class="btn btn-danger btn-sm" href="">x</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}